/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	text-align: center;
  height: 620px;
  background-color: #00ccff;
  background: linear-gradient(rgb(0, 122, 153) 1.2%, #00ccff 10%, rgb(179, 240, 255) 30%, yellow 50%, #ff6600);
}

.container {
	padding: 0;
	margin-top: 40px;
}

.footer {
	margin-top: 60px;
}

ol {
	list-style-position: inside;
}
ul {
	list-style-type: none;
}

a {
	color: #2574A9;
}

input {
  display: block;
  position: relative;
  margin: 10px auto;

}
input#button {
  width: 230px;
}
.view {
  position:relative;
  margin: auto;
  margin-top: 40px;
  border: 1px  solid  #aaa;
  padding: 20px;
  width: 60%;
  min-width: 400px;
}
/****** Logo Div Styling ******/

img {
	margin: 20px auto 0 auto;
	display: block;
}

div {
  margin: 2px;
}

#CC {
  margin-top: 8%;
  text-align: center;
  font-size: 15px;
  color: #555;
}